body {
	margin: 0;
	padding: 7px;
	background-color: rgba(255,255,255,0);
}

canvas {
	/* border: solid 1px rgba(0,0,0,0.05); */
}

div#middleSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex: 5;
    margin-left: 100px;
}
.MainDiv {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    background-image: url(https://cdn.wallpapersafari.com/4/30/mGH1yt.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.MainDiv {}

.leftSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    font-family: oxygen;
    font-size: 13px;
    width: 100%;
    height: 100%;
}

ul.instructions {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    list-style: none;
    align-items: flex-start;
}

li.instructions-step {
    margin-bottom: 15px;
    font-size: initial;
    color: white;
}

ul.instructions {
}

section.left-header {
    font-size: x-large;
    color: white;
}

.rightSection {
    display: flex;
    flex: 1;
    margin-left: 50px;
}

html {
    width: 100%;
    background-color: black;
    height: 100vh;
}

font-family: 'Oxygen', sans-serif;
